POSTGRES_USER=ewallet_user
POSTGRES_PASSWORD=change_me

RABBITMQ_USER=ewallet_user
RABBITMQ_PASSWORD=change_me

APP_JWT_SECRET=replace_with_a_long_base64_or_random_secret
APP_JWT_ACCESS_EXPIRATION=3600000
APP_JWT_REFRESH_EXPIRATION=7200000

APP_AUTH_FRONTEND_URL=http://localhost:5173
APP_GOOGLE_CLIENT_ID=your_google_oauth_client_id

SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_gmail_app_password
